# An example configuration for Warden and its subjects

[warden]

# DEBUG/INFO/WARNING/ERROR/CRITICAL
loglevel = DEBUG

[diamond]

# Path to diamond.conf
configuration = ~/.diamond/etc/diamond/diamond.conf
# Logging level of diamond. this produces a lot of logs if set to info/debug
loglevel = ERROR
# Path to diamond_root
diamond_root = ~/.diamond


[gentry]

# Path to the gentry settings.py file
gentry_settings_py_path = /usr/local/lib/python2.7/site-packages/gentry/settings.py

# Sentry super user, added to the database during warden-setup time
super_user      = 'user'
super_password  = 'password'
super_email     = 'email@address.com'
project         = 'myproject'

[carbon]

# the path to the carbon config is derived from the GRAPHITE_ROOT unless defined here
configuration = ~/.graphite/conf/carbon.conf

# path to graphite root
graphite_root = ~/.graphite

[smtp_forwarder]

enabled = False
# IMAP host
email_host = mail.sjsoft.com
# Use TLS?
email_use_tls = False
# Auth details
email_username = xxxxxxxx
email_password = yyyyyyyy
# Metric receiver
email_to = metrics@sjsoft.com
# Sender
email_from = metric_client@sjsoft.com
# Validation keys
email_subject_validation_key = j5_parsable
email_body_validation_key = CARBON_FILE_MAIL
# Send every 30 minutes
send_interval = 1800

# METRICS TO SEND
metric_patterns_to_send = .*.memUsage, combined.*.cpuUsage

