[smtp_forwarder]
email_host = mail.server.com
email_username = email@address.com
email_password = password
email_use_tls = True
email_from = no-reply@one-way-comms.com

# target
email_to = benm@sjsoft.com
email_subject_validation_key = j5_parsable
email_body_validation_key = CARBON_FILE_MAIL

# METRICS TO SEND
metric_patterns_to_send = .*.memUsage, combined.*.cpuUsage

# EVERY x SECONDS
send_interval = 30
